<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ale.learning"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:label="@string/title_activity_main"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogActivity"
            android:label="@string/title_activity_dialog" >
        </activity>
        <activity
            android:name=".CommonControlsActivity"
            android:label="@string/title_activity_common_controls" >
        </activity>
        <activity
            android:name=".CustomizeControlsActivity"
            android:label="@string/title_activity_customize_view" >
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="@string/title_activity_list_view_main" >
        </activity>
        <activity
            android:name=".customizedcontrols.FontActivity"
            android:label="@string/title_activity_font" >
        </activity>
        <activity
            android:name=".customizedcontrols.UnRuleActivity"
            android:label="@string/title_activity_UnRule" >
        </activity>
        <activity
            android:name=".customizedcontrols.DrawPictureActivity"
            android:label="@string/title_activity_draw_picture" >
        </activity>
        <activity
            android:name=".customizedcontrols.PlayActivity"
            android:label="@string/title_activity_play" >
        </activity>
        <activity
            android:name=".listview.SimpleListViewActivity"
            android:label="@string/title_simple_list_view_main" >
        </activity>
        <activity
            android:name=".listview.HeaderListViewActivity"
            android:label="@string/title_activity_header_list_view" >
        </activity>
        <activity
            android:name=".listview.CustomizeBaseAdapterActivity"
            android:label="@string/title_activity_customize_base_adapter" >
        </activity>
    </application>

</manifest>